@import 'reset';
@import 'variables/global';

body {
	margin: 0;
	font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--white);
	width: 100%;
    height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-size: 18px;
}
h5{
	font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
}