@import 'reset';
@import 'variables/global';

body {
	font-family: var(--font-family-main);
	color: #51565d;
	font-size: var(--font-m);
}

.app {
	color: var(--primary-color);
}

.app {
	min-height: 100vh;
}


h1 {
	font-size: 18px;
	font-weight: 700;
	line-height: 50px;
}
h5{
	font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    line-height: 50px;
    font-weight: 500;
}